{% extends "master.html" %}

{% block title %}
{% endblock %}

{% block content %}
  <h2>Books List</h2>
  <div>
    Add author:
    <form method="post" action="{% url 'author_create' %}">
        {% csrf_token %}
        <input type="text" id="author_name" name="author_name">
        <button type="submit">Add</button>
    </form>
    <button><a href="{% url 'book_list' %}">back to books</a></button>
    <br>
    click on an author to delete
  </div>
  <div class="row fixTableHead" style="width:80%; overflow:auto; margin-left:20px;">
    <table class="table table-bordered table-striped" id="tblmain" spellcheck="false">
      <thead class="table-bordered " style="background-color: lightskyblue;">
        <tr>
          <th scope="col" name=""> Id </th>
          <th scope="col" name=""> Name </th>
        </tr>
      </thead>
      <tbody id="tbodymain" activerowidx="0"> 
        {% for author in authors %}
        <tr>
          <td class="field-name">{{ author.id }} </td>
          <td class="field-name">
            <form method="post" action="{% url 'author_delete' author.name %}">
              {% csrf_token %}
              <input type="submit" value="{{ author.name }}">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}



