<!DOCTYPE html>
<html>
<head>
    <title>Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    <button><a href="{% url 'book_create' %}">Add Book</a></button>
    <button><a href="{% url 'author_list' %}">Authors</a></button>
    <button><a href="{% url 'genre_list' %}">Genres</a></button>
    <button><a href="{% url 'search' %}">search books</a></button>
</body>
</html>