{% extends "master.html" %}

{% block title %}
{% endblock %}

{% block content %}
  <h1>{% if form.instance.pk %}Update Book{% else %}Add Book{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% if form.instance.pk %}Update{% else %}Add{% endif %}">
    </form>
    don't see your author/genre? Add them here:
    <button><a href="{% url 'author_list' %}">Authors</a></button>
    <button><a href="{% url 'genre_list' %}">Genres</a></button>
{% endblock %}


