<!DOCTYPE html>
<html>
<head>
    <title>Search Books</title>
</head>
<body>
    <h1>Search Books</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        <label for="search_category">Search by</label>
        <select name="search_category" id="search_category">
            <option value="Titles">Titles</option>
            <option value="Authors">Authors</option>
            <option value="Genres">Genres</option>
        </select>
        <label for="search_mode">with mode</label>
        <select name="search_mode" id="search_mode">
            <option value="contains_all">contains all</option>
            <option value="contains_any">contains any</option>
        </select>
        <br><br>
        <input type="text" name="raw_input" id="raw_input">
        <input type="submit" value="Submit">
        <br><br>
        When entering a list of values, separate elements by commas
    </form>

    <br>

    <a href="{% url 'book_list' %}">Back to Book List</a>
</body>
</html>